<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
    <link rel="stylesheet" href="styles/styles.css">

    <title>Frontend Mentor | Product feedback app</title>
</head>

<body style="background-color: #F2F2F2;">
    <div class="col-lg">
        <div class="container">
            <div class="grid-container">
                <!-- <nav class="navbar navbar-expand-lg navbar-light"> -->
                <div class="navigation">
                    <div class="container-fluid">

                        <div class="go-back-roadmap">
                            <a href="/feedback">
                                <span class="arrow"><img src="/assets/shared/icon-arrow-left.svg" alt=" "></span>Go Back
                            </a>
                            <h1 class="go-back-heading">Roadmap</h1>


                            <!-- </div><a class="add-feedback-roadmap text-center" href="/feedback/feedback-new" type="button">+Add Feedback</a> -->

                            <!-- </ul> -->

                        </div>
                        <div class="my-lg-0">
                            <a class="add-feedback-roadmap text-center" href="/feedback/new" type="button">+Add Feedback</a>

                        </div>

                        <!-- </div> -->
                    </div>
                    <!-- </nav> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Roadmap Add Feedback Planned -->
    <!-- Add number here -->
    <!-- Ideas prioritized for research In-Progress -->
    <!-- Add number here -->
    <!-- Currently being developed Live -->
    <!-- Add number here -->
    <!-- Released features -->

</body>
<html