<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <title>Frontend Mentor | Product feedback app</title>
</head>
<body class="bg-light"> <nav class="login-register-desk">
        <div class="container d-flex justify-content-end py-2">
            <% if (!currentUser) { %>
                <a class="nav-link-login me-3" href="/feedback/login">Login</a>
                <a class="nav-link-register" href="/feedback/register">Register</a>
            <% } else { %>
                 <span class="me-3">Welcome <strong><%= currentUser.username %></strong></span>
                 <a class="nav-link-logout" href="/feedback/logout">Logout</a>
            <% } %>
        </div>
    </nav>

    <div class="container mt-5">
        <div class="row">
            <aside class="col-md-3">
                <%- include('../partials/navbar') %>
            </aside>

            <main class="col-md-9">
                <%- include('../partials/flash') %>
                <%- body %>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>