body,
html {
    font-family: "Jost";
    font-style: normal;
}

body {
    background-color: #f7f8fd !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.navbar {
    position: absolute;
    width: 825px;
    margin-left: 35px;
}

.container {
    margin: 0 !important;
}

.grid-container {
    display: grid;
    grid-template-columns: 255px 825px;
    grid-auto-columns: 1fr;
    column-gap: 60px;
    left: 450px;
}


/* body {
    left: 0;
    right: 0;
} */

.feedback-board {
    margin-top: 15%;
    margin-bottom: 30px;
    margin-left: 10%;
    margin-right: 5%;
}

.buttons {
    margin-bottom: 30px;
    margin-left: 10%;
    background: #ffffff;
    border-radius: 10px;
    border-color: #979797;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.list {
    width: 255px;
    margin-left: 10%;
    background: #ffffff;
    border-radius: 10px;
    /* border: 1px solid; */
    border-color: #979797;
}

.list {
    width: 255px;
    height: 137px;
    left: 165px;
    top: 94px;
}

li {
    list-style-type: none;
}

.view-num {
    height: 23px;
    left: 94.69%;
    right: 0%;
    margin-top: 24px;
    top: calc(50% - 23px / 2);
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: right;
    color: #647196;
}

.buttons {
    width: 255px;
    left: 165px;
    top: 255px;
}

.roadmap {
    height: 26px;
    left: 0%;
    right: 62.32%;
    top: calc(50% - 26px / 2);
    font-family: "Jost";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: -0.25px;
    color: #3a4374;
}

.roadmap-options {
    height: 23px;
    left: 11.59%;
    right: 61.84%;
    /* margin-top: 24px; */
    margin-bottom: 8px;
    top: calc(50% - 23px / 2);
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #647196;
}

.map {
    display: block;
    color: #647196;
    font-family: "Jost";
    font-weight: 400;
    font-size: 16px;
    left: 0;
    right: 62%;
}

.navbar {
    background: #373f68;
    position: absolute;
    width: 825px;
    height: 72px;
    /* left: 450px; */
    margin-left: 30px;
    top: 94px;
    color: white;
    border-radius: 10px;
}

.nav-link {
    height: 26px;
    left: 25%;
    right: 0%;
    top: calc(50% - 26px / 2);
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: -0.25px;
    color: #ffffff;
}

.suggestion {
    height: 26px;
    left: 25%;
    right: 0%;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #ffffff;
    list-style-type: none;
}

.view {
    height: 19px;
    left: 85.51%;
    right: 0%;
    margin-left: 99px;
    margin-bottom: 136px;
    /* margin-top: 24px; */
    /* top: calc(50% - 19px / 2 + 0.5px); */
    font-family: "Jost";
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height */
    text-decoration-line: underline;
    color: #4661e6;
    mix-blend-mode: normal;
    opacity: 0.25;
    margin-top: 5px;
}

p {
    margin-bottom: 1px;
}

.viewing {
    list-style: none;
    font-family: "Jost";
    font-weight: 700;
    font-size: 16px;
}

.row {
    display: flex;
}

.dropdown-divider {
    margin-top: 12px;
}

.dropdown-menu.show {
    width: 255px;
    height: 192px;
    left: 670px;
    top: 182px;
    margin-top: 16px;
    margin-left: 220px;
}

.dropdown-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #647196 !important;
    text-decoration: none;
}

.feedback-screen {
    position: absolute;
    /* margin-left: 35px; */
    width: 825px;
    height: 600px;
    margin-left: 345px;
    top: 190px;
    background-color: #ffffff;
}

.feedback-screen-active {
    position: absolute;
    /* margin-left: 35px; */
    width: 825px;
    height: 600px;
    margin-left: 345px;
    top: 190px;
    background-color: #f2f2f2;
}

.feedback-navlink {
    text-decoration: none;
    margin: 28px auto 4px 40px;
}

.feedback-navlink-show {
    text-decoration: none;
    margin: 28px 413px 4px 40px !important;
}

.feedback-suggestion {
    width: 825px;
    height: 151px;
    left: 450px;
    top: 190px;
    margin: 24px 165px 20px 0px;
    border-radius: 10px;
    background-color: #ffffff;
}

.feedback {
    width: 255px;
    height: 529px;
    left: 165px;
    top: 94px;
}

.feedback-suggested {
    height: 95px;
    width: 761px;
    left: 482px;
    top: 218px;
    margin: 28px 32px 28px 32px;
    border-radius: 0px;
}

.comments {
    height: 747px;
    width: 730px !important;
    left: 355px;
    top: 323px;
    margin-top: 24px !important;
    margin-right: 355px !important;
    margin-left: 355px;
    margin-bottom: 78px !important;
    border-radius: 10px;
    background-color: #ffffff;
}

.comment {
    height: 123px;
    width: 666px;
    left: 387px;
    top: 401px;
    border-radius: 0px;
    margin: 24px 32px 32px 32px;
}

.add-comment {
    width: 730px;
    height: 246px;
    left: 355px;
    top: 1094px;
    margin: 24px 355px 24px 355px;
    background-color: #ffffff;
}

.add-comment-label {
    width: 130px;
    left: 4.66%;
    right: 79.18%;
    height: 26px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    /* line-height: 26px;
    line-height: 100%; */
    letter-spacing: -0.25px;
    margin: 24px 578px 0px 34px;
    color: #3a4374;
}

.add-comment-text {
    height: 80px;
    width: 664px;
    left: 34px;
    top: 74px;
    border-radius: 0px;
    left: 4.66%;
    right: 4.38%;
    top: 30.08%;
    bottom: 37.4%;
    background: #f7f8fd;
    border-radius: 5px;
    margin: 74px 32px 92px 34px;
}

.dropupCaret {
    height: 4px;
    margin-left: 16.35px;
    margin-right: 15.35px;
    margin-top: 14px;
    margin-bottom: 8px;
    width: 8px;
    left: 16.33447265625px;
    top: 14px;
    border-radius: 0px;
}

.feeback-title-para {
    text-decoration: none;
}

.feedback-suggested-title {
    height: 26px;
    left: 10.51%;
    right: 62.55%;
    top: calc(50% - 26px / 2 - 34.5px);
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */
    letter-spacing: -0.25px;
    color: #3a4374;
}

.feedback-suggested-para {
    height: 23px;
    left: 10.51%;
    right: 40.34%;
    top: calc(50% - 23px / 2 - 6px);
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #647196;
    margin-left: 0px;
    margin-top: 4px;
    margin-bottom: 12px;
}

.feedback-suggested-votes {
    margin: 28px 32px 28px 32px;
    /* bottom: 44.21%; */
    background: #f2f4fe;
    border-radius: 10px;
    /* width: 40px; */
    /* height: 53px;
    height: 53px; */
    /* width: 40px;
    margin-left: 80px; */
    /* top: 0px; */
    border-radius: 10px;
}

.feedback-suggested-numvotes {
    right: 94.74%;
    bottom: 44.21%;
    margin: 28px 40px 70px 32px;
    background-color: #f2f4fe;
    width: 40px;
    height: 53px;
    border-radius: 10px;
}

.btn-suggestion {
    background: #f2f4ff;
    color: #4661e6;
    left: 10.51%;
    bottom: 0%;
    border-radius: 10px;
    margin-top: 12px;
    margin-left: 0px;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #f2f4ff;
    border: none;
    border-radius: 10px;
    padding: 5px 17px 6px 16px;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
    line-height: 100%;
}

.edit-button {
    margin-left: 536px;
}

.figure-item {
    /* position: absolute; */
    width: 466px;
    height: 379px;
    left: 659px;
    margin-bottom: 53.26px;
    top: 301px;
}

.no-feedback {
    width: 129.64px;
    height: 136.74px;
    left: 798.89px;
    top: 301px;
    margin: 111px 346.47px 53.26px 348.89px;
}

.no-feedback-new {
    width: 129.64px;
    height: 136.74px;
    /* margin-left: 34%; */
    margin-top: 111px;
    margin-bottom: 53.26px;
    margin-left: 348.89px;
    margin-right: 346.67px;
    top: 480px;
}

.add-feedback-top {
    width: 158px;
    height: 44px;
    left: 1101px;
    top: 108px;
    left: 0%;
    right: 0%;
    margin: 14px 16px 14px 273px;
    padding: 12.5px 25px 11.5px 24px;
    top: 0%;
    text-decoration: none;
    bottom: 0%;
    background: #ad1fea;
    border-radius: 10px;
    height: 20px;
    left: 15.19%;
    right: 15.82%;
    top: calc(50% - 20px / 2 + 0.5px);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #f2f4fe;
}

.add-feedback-edit {
    /* padding: 10px; */
    /* height: 20px; */
    left: 16.67%;
    right: 17.36%;
    top: calc(50% - 20px / 2 + 0.5px);
    /* font-family: "Jost";
    font-style: normal; */
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    bottom: 0%;
    width: 144px;
    left: 141.5048828125px;
    margin-left: 16px;
    top: 145px;
    padding: 12px 25px 11.5px 24.5px;
    border-radius: 10px;
    background: #ad1fea;
    text-decoration: none;
    color: #f2f4fe;
}

.add-feedback {
    left: 30.37%;
    right: 31.1%;
    top: 76.72%;
    bottom: 0%;
    height: 44px;
    width: 179.5804901123047px;
    left: 141.5048828125px;
    margin-left: 141.5px;
    margin-top: 145px;
    padding: 12.5px 28.41px 11.5px 27.28px;
    border-radius: 10px;
    background: #ad1fea;
    text-decoration: none;
    color: #f2f4fe;
    font-weight: 700;
    font-size: 14px;
}

.add-feedback-new {
    left: 30.37%;
    right: 31.1%;
    top: 76.72%;
    bottom: 0%;
    height: 44px;
    width: 179.5804901123047px;
    left: 141.5048828125px;
    margin-left: 22.78px;
    top: 145px;
    padding: 12.5px 28.41px 11.5px 27.28px;
    border-radius: 10px;
    background: #ad1fea;
    text-decoration: none;
    color: #f2f4fe;
    font-weight: 700;
    font-size: 14px;
}

.add-feedback-roadmap {
    width: 158px;
    height: 44px;
    left: 1077px;
    top: 113px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 85%;
    bottom: 0%;
    background: #ad1fea;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #f2f4fe;
}

figcaption {
    width: 466px;
    height: 189px;
    left: 659px;
    top: 491px;
    margin-left: 209px;
    margin-right: 206px;
    margin-top: 53.26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.add-cancel-feedback {
    margin: 0 auto;
    margin-right: 30px;
    display: inline-flex;
    flex-direction: row;
    text-decoration: none;
    margin-top: 32px;
}

.add-feedback-btn {
    width: 158px;
    height: 44px;
    padding: 10px;
    border-radius: 10px;
    margin-left: 34%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #ad1fea;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #f2f4fe;
}

.cancel-feedback-btn {
    padding: 10px;
    border-radius: 10px;
    /* width: 93px; */
    text-decoration: none;
    margin-right: -13px;
    top: 0%;
    bottom: 0%;
    background: #3a4374;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #f2f4f2fe;
}

.edit-feedback-btn {
    padding: 10px;
    border-radius: 10px;
    width: 93px;
    text-decoration: none;
    /* margin-right: -13px; */
    top: 0%;
    bottom: 0%;
    background: #7c91f9;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #f2f4f2fe;
}

.edit-feedback {
    display: inline-flex;
    flex-direction: row;
}

.delete-feedback {
    position: relative;
    margin-top: -113px;
    margin-left: 81px;
}

.delete-feedback-btn {
    position: absolute;
    padding: 10px;
    border-radius: 10px;
    width: 93px;
    height: 53px;
    text-decoration: none;
    margin-left: 85px;
    margin-top: 800px;
    top: 0%;
    bottom: 0%;
    background: #e98888;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #f2f4fe;
}

.suggestion {
    width: 156px;
    height: 26px;
    left: 474px;
    top: 117px;
}

.sr-only {
    height: 20px;
    left: 0%;
    right: 10.62%;
    margin-top: 26px;
    margin-bottom: 26px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #f2f4fe;
    mix-blend-mode: normal;
    opacity: 0.75;
    text-decoration: none;
}

.suggestion-icon {
    width: 23px;
    height: 24px;
    top: 1px;
    margin: 24px 16px 24px 24px;
}

.offer-suggestion {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
}

.got-suggestion {
    height: 46px;
    left: 0%;
    right: 9.66%;
    top: calc(50% - 46px / 2 - 20.5px);
    font-family: "Jost";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #647196;
    margin-bottom: 92px !important;
}

.go-back {
    z-index: 1000;
    padding-bottom: 7%;
    margin-top: 10% !important;
    margin-left: 25%;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #647196;
}

.feedback-show {
    height: 151px;
    width: 730px;
    left: 355px;
    top: 148px;
    margin-left: 355px;
    border-radius: 0px;
    background-color: #ffffff;
}

.go-back-show {
    z-index: 1000;
    padding-bottom: 7%;
    margin: 80px 355px 24px 355px !important;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #647196;
}

.go-back-roadmap {
    z-index: 1000;
    margin-top: 0% !important;
    margin-left: 0%;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #ffff;
}

.navigation {
    width: 1110px;
    height: 113px;
    left: 165px;
    top: 78px;
    color: #ffff;
    background: #373f68;
    border-radius: 10px;
}

.go-back-heading {
    margin-left: 1%;
}

.arrow {
    margin: 10px;
    color: #647196;
}

.new-feedback-form {
    margin-top: -5%;
}

.feedback-title {
    height: 35px;
    left: 15.85%;
    right: 16.83%;
    top: calc(50% - 35px / 2 - 77px);
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */
    margin: 28px 74.8px 4px 73.8px;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #3a4374;
}

.column-left {
    width: 33.3%;
    color: white;
    height: auto;
}

.view-count {
    margin-right: 0;
    margin-left: -50px;
    margin-top: 25px;
}

p {
    margin-bottom: 1px !important;
}

.column-left {
    width: 33.3%;
    height: auto;
}

.column-right {
    width: 33.3%;
    color: white;
    height: auto;
}

.container {
    margin-top: 92px;
    margin-left: 450px;
    width: 540px;
    height: 745px;
}

.create-feedback {
    background: #ffffff;
    border-radius: 10px;
    width: 75%;
    padding-top: 10%;
    padding-left: 5%;
    margin-top: 20%;
    margin-left: 75%;
    display: flex;
    flex-direction: column;
}

.new-feedback {
    height: 35px;
    left: 7.78%;
    right: 47.41%;
    /* top: calc(50% - 35px / 2 - 245px); */
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */
    letter-spacing: -0.333333px;
    color: #3a4374;
}

.sub-heading {
    margin-top: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.194444px;
    color: #3a4374;
}

.sub-heading-paragraph {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #647196;
    margin-bottom: 0px;
}

.form-control-lg {
    align-self: center;
    margin-left: 10%;
    margin-top: 15%;
    background-color: #ffffff;
    border-radius: 10px;
    width: 540px;
    height: 665px;
    /* width: 75% !important; */
    padding: 10% 5% 5% 5% !important;
    display: flex;
    flex-direction: column;
}

.new-feedback-icon {
    margin-left: 15%;
    margin-bottom: -23%;
}

#feedback-title {
    width: 456px;
    left: 42px;
    top: 155px;
}

#feedback-detail {
    width: 456px;
    left: 42px;
    top: 155px;
}

#category {
    width: 456px;
    left: 42px;
    top: 155px;
}

#features {
    /* width: 100%; */
    padding-left: 10px;
    padding-right: -10px;
    background-color: #ffff;
    border-radius: 5px;
    /* border: none; */
    font-size: 15px;
}

#feedbackdetail {
    width: 456px;
    height: 96px;
    padding-left: 10px;
    padding-right: -10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    border: 1px solid #4661e6;
    /* border: none; */
    font-size: 15px;
    /* border: none; */
}

.feedback-text {
    width: 456px;
    height: 48px;
    padding-left: 10px;
    padding-right: -10px;
    border-radius: 5px;
    border: 1px solid #4661e6;
    background-color: #f2f2f2 !important;
    font-size: 15px;
    margin-bottom: 24px;
}

.select-options {
    width: 456px;
    height: 48px;
}

.form-select {
    background-color: #f2f2f2 !important;
    width: 456px !important;
    left: 42px;
    margin-bottom: 24px;
}

.feedback-options {
    background: #ffff !important;
    opacity: 0;
}